<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Expires" content="Fri, Jan 01 1900 00:00:00 GMT">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Lang" content="en">
<meta name="author" content="">
<meta http-equiv="Reply-to" content="@.com">
<meta name="generator" content="PhpED 8.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="creation-date" content="09/06/2012">
<meta name="revisit-after" content="15 days">
<title>Zillow Demo App</title>
<link rel="stylesheet" type="text/css" href="{% $webPath %}public/css/app.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js" crossorigin="anonymous"></script>

</head>
<body>

  <!-- navigation panel -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{% $appName %}</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- first section - Home -->
  <div id="home" class="home">
    <div class="text-vcenter">
        <div class="jumbotron">
              <h1 class="text-white">Search Below</h1>
              
                <div class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Search Term</label>
                    <div class="input-group">
                      <div class="input-group-addon">Address</div>
                      <input type="text" class="form-control input-lg" id="searchAddress" size="65" placeholder="5555 Great Place Ln, Los Angeles, CA 90009">
                    </div>

                  </div>
                  <button type="submit" id="searchButton" class="btn btn-default input-lg">Lets Go!</button>
                </div>
                
              <h3 class="text-white" id="searchResultInfo">Search and Find Your Next Home</h3>
        </div>

    </div>
  </div>
  <!-- /first section -->

  <!-- second section -->
  <div id="about" class="pad-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <br /><img src="{% $webPath %}public/image/zillow-logo.png" alt="" />
        </div>
        <div class="col-sm-6 text-center">
          <h2>Let's Find Great Places!</h2>
          <p class="lead">Having a great place to live is an important part of life.  Let Zillow help you quickly locate your next place to live.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /second section -->
  <!-- footer -->
  <footer>
    <hr />
    <div class="container">
      <p class="text-right">Copyright &copy; Zillow Demo App 2015</p>
    </div>
  </footer>
  <!-- /footer -->

<!-- Modal -->
<div class="modal fade" id="viewProperty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Property Search Result</h4>
      </div>
      <div class="modal-body" id="propertyCard">
      
            <div class="row">
              <div class="col-md-12">
                    <strong>Map</strong>
                    <div id="map"></div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-6">
                    <strong>Property</strong>
                    <address id="propertyAddress">
                      1355 Market Street, Suite 900<br>
                      San Francisco, CA 94103<br>
                    </address>
              </div>
              <div class="col-md-6">
                    <strong>Zestimate</strong>
                    <div>
                        <span class="label label-primary">Last Updated</span><div id="propertyLastUpdated"></div>
                        <span class="label label-primary">Amount</span><div id="propertyAmount"></div>
                        <span class="label label-primary">Valuation Range</span><div id="propertyValuation"></div>
                        <span class="label label-primary">Value Change</span><div id="propertyValueChange"></div>
                        <span class="label label-primary">Percentile</span><div id="propertyPercentile"></div>
                    </div>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
  <!-- attach additional JavaScripts -->
  <script src="{% $webPath %}public/js/app.js"></script>
  
    <script type="text/javascript">

    var map;
    function initMap() {
        console.log('init map');
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
    }
    console.log('done');
    </script>
    <script
      src="//maps.googleapis.com/maps/api/js?key=AIzaSyB2eCWDOhbMNvtBQne0Z5ACoPQl0AYgVJM&callback=initMap">
    </script>
  
</body>
</html>
