/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}

/* padded section */
.pad-section-small {
  padding: 25px 0;
}

.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url(../image/background1.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

#services {
  background-color: #16a085;
  color: #db0752;
}
#services .glyphicon {
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(../image/background2.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

.footer {
  padding: 20px 0;
}
.footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
.footer .glyphicon:hover {
  color: #306d9f;
}

.jumbotron{background-color: #db0752 !important;}

.text-white
{
    color: #FFF !important;
}

.text-fuchsia 
{
    color: #db0752 !important;
}

.text-teal 
{
    color: #16a085 !important;
}

.bg-white
{
    background-color: #FFF !important;
}

.bg-fuchsia 
{
    background-color: #db0752 !important;
}

.bg-teal 
{
    background-color: #16a085 !important;
}

.componentPad
{
    padding:10px 10px 10px 10px;
}

.pageLeftPad
{
    padding: 0 0 0 20px;
}

.pageRightPad
{
    padding: 0 20px 0 0;
}

.pagePadTop
{
    padding: 10px 0 0 0;
}

.searchResult
{
    background-color:rgba(0,0,0,0.75) !important;
}

.search-header
{
    padding: 0 0 0 0;
}

.font-small
{
    font-size: 0.9em !important;
}

.font-large
{
    font-size: 1.2em !important;
}


.roundBorder {
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

.component-pad
{
    padding:10px 10px 10px 10px;
    border-radius: 6px;
}

.round-border-small {
    border: 2px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}

.round-border-small-icon {
    border: 2px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}

.table-margins
{
    margin: 0 20px 0 20px;
}

#map
{
    height: 280px;
    width: 480px;

}